#contact {
  display: flex;
  padding: 10px 10%;
  justify-content: space-between;
  align-content: center;
}

.contact-wrapper {
  display: flex;
  align-items: center;
}

.contact-wrapper > div {
  display: flex;
  align-items: center;
}

.button {
  background-color: #f26522;
  padding: 2% 10%;
  color: white;
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s;
}

.button:hover {
  background-color: #222;
}
.contact-icon {
  color: #222;
  font-size: 25px;
  font-weight: 600;
  margin-right: 10px;
}
.contact-heading-top {
  text-transform: uppercase;
  font-size: 12px;
  margin: 10px;
}
.contact-heading-bot {
  color: #f26522;
}

.contact-informatiom {
  margin: 0 20px;
  padding: 0 20px;
}

.contact-heading {
  white-space: nowrap;
}
